<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >


<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReportListener" />
	</listeners>


  <test name="RSTest Automation Test Suite" >
    <classes>
       <class name="com.rogansshoes.qa.testcases.HomePageTest" />
    </classes>
  </test>
 
  
</suite>
